@import "../vars";
.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
}

.offerDetailsWrap{
  background-color: rgb(183, 134, 134);
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 1em;
}
.topDivOfferDetails{
   display: flex;
   flex-flow: column nowrap;
   width: 100%;
   justify-content: space-between;
   //background-color: blue;
   margin-bottom: 0.5em;
}
.salaryAndTitleDetails{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.salaryOfferDetails{
  width: 30%;
 // background-color: green;
  display: flex;
  flex-flow: column wrap;
}
.salaryOfferDetailsTop{
  width: 100%;
  font-weight: bold;
}
.salaryOfferDetailsBottom{
  width: 100%;
  font-size: small;
}
.titleOfferDetails{
  flex: 1;
 // background-color: gold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline;
  font-weight:bold ;
}