@import "../vars";

.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 20px;
}

.regStudentForm {
  width: 65%;
  margin: 4em auto;
  background-color: rgb(221, 173, 185);
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.regSLogoImageDiv {
  width: 100%;
  height: 5em;
  text-align: center;
}

#regAsSText {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}
.regAsSDiv {
  width: 100%;

  margin-bottom: 1em;
  text-align: center;
  margin-top: 1em;
}
.regASINForm {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  text-align: center;
  margin-bottom: 0.8em;
}

.regASRow {
  width: 100%;
  margin-bottom: 0.8em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.regASRowIn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 60%;
}
.RegASInput {
  border-radius: 5px;
  height: 2em;
  border-width: 0;

  width: 50%;
}

.rowDiv {
  display: flex;
  flex-flow: row wrap;
}
.regASLebel {
  flex: 1;
  text-align: center;
}

.signUpSButtonDivANDTerms {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  text-align: center;
  justify-content: center;
}
.signUpSbuttonDiv {
  width: 100%;
  flex: 1;
}
.signUpSButton {
  width: 50%;
  flex: 1;
  height: 2em;
  background-color: $form-login-Button-background-color;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.5em;
  margin-right: 1em;
  color: #fff;
  &:active {
    box-shadow: 0 2px gray;
    transform: translateY(1px);
  }
}

.termsSDiv {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0.5em;
  justify-content: center;
  width: 85%;
  align-self: center;
  flex: 1;
}
#scales {
  margin: auto 0;
}
.TermsANDCondText {
  color: blue;
}
#immaInputFileLabel {
  justify-content: space-between;
  width: 80%;
  margin-top: 1em;
}
.rowRegAsSInputInWrap {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  justify-content: space-between;
}
.checkboxWrap {
  width: 10%;
}
.acceptTermsText {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .regASRowIn {
    flex-flow: column wrap;

    width: 100%;
    justify-content: center;
  }
  .RegASInput {
    border-radius: 5px;
    height: 2em;
    border-width: 0;
    width: 90%;
  }
  .rowRegAsSInputInWrap {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .regASRowIn {
    width: 90%;
  }
  .RegASInput {
    border-radius: 5px;
    height: 2em;
    border-width: 0;
    width: 95%;
  }
  #immaInputFileLabel {
    width: 90%;
    margin-top: 1em;
  }
}
