@import "../vars";
.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
}
.AddOfferForm {
  display: flex;
  flex-flow: column wrap;
  width: 50%;
  background-color: rgb(225, 122, 134);
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem;
}
.dateDivAddOffer {
  width: 100%;
}
.dateAddOfferP {
  width: 100%;
  margin-bottom: 1rem;
  font-weight: bold;
}
.underLineBetween {
  width: 80%;
  align-self: center;
  border-bottom: 1px solid rgb(97, 87, 87);
  margin: 0 auto;
  margin-bottom: 1rem;
}
.addOfferInputsOutWrap {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.addOfferInputsInWrap {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 1em;
}
.addOfferInputLongOutWrap {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}
.addOfferInputLongInWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 70%;
}

.addOfferLabelInputs {
  flex: 1;
  text-align: center;
}
.addOfferLongInput {
  //flex: 1;
  border-radius: 5px;
  height: 1.5rem;
  border-width: 0;
  width: 70%;
}
.addOfferInputShort {
  border-radius: 5px;
  height: 1.5rem;
  border-width: 0;
  width: 60%;
}
#buttonAddSchicht {
  width: 100% !important;
}
.addOfferInputsWrap {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.schichtenItems {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.buttonAddSchicht {
  width: 50%;
  height: 2em;
  border-radius: 5px;
  border: 0;
  background-color: $form-login-Button-background-color;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
}
.buttonAddSchichtInnerWrap {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(248, 254, 212);
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 1em;
  border: 1px solid black;
}
.schichtNr {
  width: 20%;
  text-align: center;
}
.schichtInfosTable {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
}
.schichtInfoCol {
  flex: 1;
  border-left: 1px solid black;
  text-align: center;
}
.titleAddOfferSection {
  width: 100%;
  margin-bottom: 1em;
}
.titleAddOfferText {
  font-weight: bold;
  text-decoration: underline;
}
.addOfferBottomSectionWrap {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}
.beschreibungAddOffer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.titeBottomDivAddOffer {
  width: 100%;
  margin-bottom: 1em;
}
.titeBottomAddOfferText {
  font-weight: bold;
  text-decoration: underline;
}
.textareaWrapAddOffer{
  width: 100%;
  text-align: center;
}
.textAreaAddOffer{
  width: 50%;
  height: 6em;
  margin: 1em;
  border-radius: 5px;
  border: 0;
}
.addOfferWrapButton{
  margin-top: 1em;
  width: 100%;
  text-align: center;
}
.AddOfferButton{
  width: 50%;
  height: 2em;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background-color: $form-login-Button-background-color;
  color: white;
}
//media Query
@media only screen and (max-width: 1200px) {
  .addOfferInputLongInWrap {
    width: 100%;
  }
  .addOfferLabel {
    margin-right: 0;
  }

  .addOfferInputsInWrap {
    width: 100%;
    flex-flow: column wrap;
  }
  .addOfferLongInput {
    width: 100%;
  }
  .addOfferInputsWrap{
    margin-bottom: 1em;
  }
  .AddOfferButton{
    width: 100%;
  }
}
