body{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

  .content {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    justify-content: center;
    padding: 4em;
  }
 