header {
    display: flex;
    width: 100%;
    flex-flow: nowrap row;
    justify-content: space-between;
    background-color: rgb(24, 117, 49);
}
.logoDiv{
    font-family: Lucida;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}
.logoDiv:hover{
cursor: pointer;

}
.rightList{
    display: flex;
    margin-right: 1rem;
    
}
#topRightList{
    margin: -0.1rem;
    padding: 0;
    display: flex;
    flex-flow: nowrap row-reverse;
    list-style: none;
}
li{
    padding: 1rem;
    font-style: normal;
    cursor: pointer;
    font-size: 1rem;
    
}
li:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 117, 49);
}
li:hover a{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(24, 117, 49);
}
a{
    color: rgb(255, 255, 255);  
    text-decoration: none;
}



