.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4em;
}
.homePageAmdinWrap {
  width: 50%;
  background-color: rgb(240, 148, 148);
  border: 0;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
}
.anfragenTextDiv {
  width: 100%;
  margin-bottom: 2em;
}
.anfragenText {
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .homePageAmdinWrap {
    width: 100%;
  }
}
