@import "../vars";
.content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  justify-content: center;
}
.homePageStudentWrap {
  width: 50%;
  background-color: rgb(228, 186, 186);
  margin: 2em;
  border: 0;
  border-radius: 40px;
  padding: 2em;
  display: flex;
  flex-flow: column wrap;
}
.selectCityHomePageStadtStudent {
  width: 50%;
  margin-bottom: 2em;
}
.offersHomePageStudent {
  //background-color: blue;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  .homePageStudentWrap {
    width: 90%;
  }
}
